<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Internship Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2>Save Review</h2>
    <hr>

    <form action="#" th:action="@{/reviews/}" th:object="${review}"
          method="POST" class="was-validated">
        <label for="type">Type</label>
        <input type="number" th:field="*{type}" id="type"
               class="form-control mb-4 col-4 is-invalid" required>
        <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span>

        <label for="object_id">Object ID</label>
        <input type="number" th:field="*{object_id}" id="object_id"
        class="form-control mb-4 col-4 is-invalid" required>
        <span th:if="${#fields.hasErrors('object_id')}" th:errors="*{object_id}"></span>

        <label for="rank">Rank</label>
        <input type="text" th:field="*{rank}" id="rank"
               class="form-control mb-4 col-4 is-invalid" required>
        <span th:if="${#fields.hasErrors('rank')}" th:errors="*{rank}"></span>

        <label for="content">Content</label>
        <input type="text" th:field="*{content}" id="content"
               class="form-control mb-4 col-4 is-invalid" required>
        <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>

        <label for="is_del_flg">Is delete?</label>
        <input type="checkbox" th:field="*{is_del_flg}" id="is_del_flg"
               class="form-control mb-4 col-4 is-invalid" required>
        <span th:if="${#fields.hasErrors('is_del_flg')}" th:errors="*{is_del_flg}"></span>

        <input type="submit" value="Save" class="btn btn-info col-2">
    </form>
    <hr>
    <a th:href="@{/reviews/}" class="m-2">Back</a>
</div>
</body>
</html>