<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Internship Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2>Update Review</h2>
    <hr>

    <form action="#" th:action="@{/reviews/{id}(id=${review.id})}" th:object="${review}"
          method="POST" class="was-validated">
        <label for="id">ID</label>
        <input type="text" th:field="*{id}" id="id" class="form-control mb-4 col-4" disabled>

        <label for="type">Type</label>
        <input type="number" th:field="*{type}" id="type" placeholder="example@gmail.com"
               class="form-control mb-4 col-4 is-invalid" required>
        <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span>

        <label for="reviewer">Reviewer</label>
        <input type="text" th:field="*{reviewer}" id="reviewer"
               class="form-control mb-4 col-4" disabled>

        <label for="object">Object</label>
        <select class="form-control mb-4 col-4" th:field="*{object}" id="object">
            <option th:value="*{object}" th:text="*{object}"></option>
            <option th:each="list : ${nameList}" th:value="${list}" th:text="${list}"></option>
        </select>

        <label for="rank">Rank</label>
        <input type="text" th:field="*{rank}" id="rank" placeholder="abc123"
               class="form-control mb-4 col-4 is-invalid" required>
        <span th:if="${#fields.hasErrors('rank')}" th:errors="*{rank}"></span>

        <label for="content">Content</label>
        <input type="text" th:field="*{content}" id="content" placeholder="Nguy?n V?n A"
               class="form-control mb-4 col-4 is-invalid" required>
        <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>

        <label for="is_del_flg">Is delete?</label>
        <input type="checkbox" th:field="*{is_del_flg}" id="is_del_flg" placeholder="0"
               class="form-control mb-4 col-4 is-invalid">
        <span th:if="${#fields.hasErrors('is_del_flg')}" th:errors="*{is_del_flg}"></span>

        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>

    <hr>

    <a th:href="@{/reviews/}" class="m-2"> Back</a>
</div>
</body>
</html>