<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Internship Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row" style="display: flex; justify-content: space-between; flex-wrap: nowrap">
        <div class="col-1 mt-4">
            <a th:href="@{/home-admin}" style="text-decoration: none">HOME</a>
        </div>
        <div class="col-2 mt-3">
            <form th:action="@{/logout}" method="post">
                <button class="form-control btn btn-secondary" type="submit">Log out</button>
            </form>
        </div>
    </div>
    <hr/>

    <h2>Save University</h2>
    <hr>

    <form action="#" th:action="@{/home-admin/universities/}" th:object="${university}"
          method="POST" class="was-validated">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name"
               class="form-control mb-4 col-4 is-invalid" required>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

        <label for="delFlg">Is delete?</label>
        <input type="checkbox" th:field="*{delFlg}" id="delFlg"
               class="form-control mb-4 col-4 is-invalid">
        <span th:if="${#fields.hasErrors('delFlg')}" th:errors="*{delFlg}"></span>

        <input type="submit" value="Save" class="btn btn-info col-2">
    </form>
    <hr>
    <a th:href="@{/home-admin/universities/}" class="m-2">Back</a>
</div>
</body>
</html>