<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Internship Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row" style="display: flex; justify-content: space-between; flex-wrap: nowrap">
        <div class="col-1 mt-4">
            <a th:href="@{/home-admin}" style="text-decoration: none">HOME</a>
        </div>
        <div class="col-2 mt-3">
            <form th:action="@{/logout}" method="post">
                <button class="form-control btn btn-secondary" type="submit">Log out</button>
            </form>
        </div>
    </div>
    <hr/>

    <h2>Update Mentor</h2>
    <hr>

    <form action="#" th:action="@{/home-admin/mentors/{id}(id=${mentor.id})}" th:object="${mentor}"
          method="POST" class="was-validated">
        <label for="id">ID</label>
        <input type="text" th:field="*{id}" id="id" class="form-control mb-4 col-4" disabled>

        <label for="email">Email</label>
        <input type="email" th:field="*{email}" id="email"
               class="form-control mb-4 col-4 is-invalid" required>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>

        <label for="username">Username</label>
        <input type="text" th:field="*{username}" id="username"
               class="form-control mb-4 col-4 is-invalid" required>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

        <label for="password">Password</label>
        <input type="password" th:field="*{password}" id="password"
               class="form-control mb-4 col-4 is-invalid" required>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

        <label for="fullName">Full name</label>
        <input type="text" th:field="*{fullName}" id="fullName"
               class="form-control mb-4 col-4 is-invalid" required>
        <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>

        <label for="phoneNumber">Phone number</label>
        <input type="text" th:field="*{phoneNumber}" id="phoneNumber"
               class="form-control mb-4 col-4 is-invalid" required>
        <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>

        <label for="delFlg">Is delete?</label>
        <input type="checkbox" th:field="*{delFlg}" id="delFlg"
               class="form-control mb-4 col-4 is-invalid">
        <span th:if="${#fields.hasErrors('delFlg')}" th:errors="*{delFlg}"></span>

        <label for="maxInternship">Max Internship</label>
        <input type="number" th:field="*{maxInternship}" id="maxInternship"
               class="form-control mb-4 col-4 is-invalid" required>
        <span th:if="${#fields.hasErrors('maxInternship')}" th:errors="*{maxInternship}"></span>

        <label for="activeFlg">Is active?</label>
        <input type="checkbox" th:field="*{activeFlg}" id="activeFlg"
               class="form-control mb-4 col-4 is-invalid">
        <span th:if="${#fields.hasErrors('activeFlg')}" th:errors="*{activeFlg}"></span>

        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>

    <hr>

    <a th:href="@{/home-admin/mentors/}" class="m-2">Back</a>
</div>
</body>
</html>